.heroNotificationBox {
  margin: auto;
  width: 66.6%;
  height: 50%;
  min-height: 200px;
  background-color: $primary;
  background-image: url(../public/Pattern.svg);
  background-size: cover;
  border-radius: 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 3rem;
}
