{
  "extends": ["next", "next/core-web-vitals", "airbnb", "airbnb-typescript"],
  "rules": {
    "import/newline-after-import": ["error", { "count": 1 }],
    "object-curly-newline": "off",
    "react/react-in-jsx-scope": "off",
    "react/jsx-props-no-spreading": "off",
    "import/no-extraneous-dependencies": "off",
    "react/prop-types": "off"
  },
  "parserOptions": {
    "project": "./tsconfig.json"
  }
}
